<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DataBases"
        tools:targetApi="34">
        <activity
            android:name=".CouponQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".BuyCouponActivity"
            android:exported="false" />
        <activity
            android:name=".CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".AddCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".AddCompanyActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCustomersActivity"
            android:exported="false" />
        <activity
            android:name=".ManageCompaniesActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyActivity"
            android:exported="false" />
        <activity
            android:name=".AddCouponActivity"
            android:exported="false"/>
        <activity
            android:name=".UpdateCouponActivity"
            android:exported="false"/>
        <activity
            android:name=".CouponsByPriceActivity"
            android:exported="false"/>
        <activity
            android:name=".CouponsByCategoryActivity"
            android:exported="false"/>
        <activity
            android:name=".CompanyViewProfileActivity"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>